*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: rgb(12, 11, 11);
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    width: 100%;
    max-width: 1366px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);

    grid-template-areas: "header header header" 
                         "contenido contenido contenido"
                         "contenido contenido contenido"
                         "contenido contenido contenido"
                         "section section section"
                         "comentarios article article"
                         "comentarios article article"
                         "comentarios article article"
                         "footer footer footer";
}

.contenedor .header, 
.contenedor .contenido,
.contenedor .section,
.contenedor .article,
.contenedor .comentarios,
.contenedor .footer {
    padding: 20px;
}

.contenedor .header{
    max-height: 100px;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    background-color: #2A394F;
}



@media screen and (max-width: 600px) {
    .contenedor{
        grid-template-areas:
        "header header header" 
        "contenido contenido contenido"
        "contenido contenido contenido"
        "contenido contenido contenido"
        "section section section"
        "article article article"
        "article article article"
        "comentarios comentarios comentarios"
        "footer footer footer" ;

        
    }
    .header{
        flex-direction: column;
    }
    .nav{
        padding: 15px 0px;
    }
    
}
    