*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: rgb(12, 11, 11);
    font-family:Verdana, Geneva, Tahoma, sans-serif;   
}

/*---------------------------------------------------------------------*/
.contenedor{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 150px 250px 250px 250px 
                        1fr 60px;

    grid-template-areas: "header header header" 
                         "nav nav nav"
                         "contenido contenido contenido"
                         "contenido contenido contenido"
                         "contenido contenido contenido"
                         "section section section"
                         "footer footer footer";
}
/*---------------------------------------------------------------------*/
.contenedor .header{
    grid-area: header;
    text-align: center;
    padding: 60px;
    background-image: url(imagenes/camioneta2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header .logo{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 50px;
    color: white;
    font-size: 20px;
}
.logo img{
    height: 100px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.logo h1{
    margin-bottom: 15px;
}
.logo button{
    background: rgba(0, 0, 0, 0);
    padding: 10px;
    color: #FF993A;
    cursor: pointer;
    border: 1px solid #FF993A;
}
.logo button:hover{
    background: #FF993A;
    color: white;
}
/*---------------------------------------------------------------------*/
.contenedor .nav{
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    background-color: rgb(24, 52, 56);
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
}
.nav a:hover{
    background-color:rgba(0, 0, 0, 0.7);
}
/*---------------------------------------------------------------------*/
.contenedor .contenido{
    grid-area: contenido;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contenido .titulos{
    text-align: center;
}
.contenedor .contenido .nota{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 100px;
    gap:30px;

}

.titulos h2{
    text-transform: uppercase;
}
.titulos span{
    color: red;
}
.lista ul li{
    font-size: 14px;
    list-style-type: none;
}
.lista ul li::before{
    content: '✓';
    color: red;
}
/*---------------------------------------------------------------------*/
.contenedor .section{
    grid-area: section;
    text-align: center;
    padding: 20px;
}

.cmtas img{
    width: 300px;
}

/*---------------------------------------------------------------------*/
.contenedor .footer{
    grid-area: footer;
    background-color: rgba(63, 129, 187, 0.075);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.logos img{
    width: 35px;
}
/*---------------------------------------------------------------------*/
@media screen and (min-width: 600px) {
    .contenedor{
        grid-template-rows: 1fr 50px 200px 200px 200px 
                            440px 50px;
        grid-template-areas:
        "header header header" 
        "nav nav nav"
        "contenido contenido contenido"
        "contenido contenido contenido"
        "contenido contenido contenido"
        "section section section"
        "footer footer footer" ;
    } 

}

@media screen and (min-width: 1257px) {
    .contenedor{
        grid-template-rows: 1fr 50px 200px 200px 200px 
                            300px 50px;
        grid-template-areas:
        "header header header" 
        "nav nav nav"
        "contenido contenido contenido"
        "contenido contenido contenido"
        "contenido contenido contenido"
        "section section section"
        "footer footer footer" ;
    }

}
@media screen and (max-width: 600px) {
    .contenedor .nav{
        flex-direction: column;
        height: auto;
        max-height: 100px;
    } 
    .contenedor .contenido .nota{
        flex-direction: column;
        padding: 30px 100px;
    }
}