*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: rgb(12, 11, 11);
    font-family:Verdana, Geneva, Tahoma, sans-serif;   
}

/*---------------------------------------------------------------------*/
.contenedor{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);

    grid-template-areas: "header header header" 
                         "nav nav nav"
                         "contenido contenido contenido"
                         "contenido contenido contenido"
                         "contenido contenido contenido"
                         "section section section"
                         "article article article"
                         "article article article"
                         "comentarios comentarios comentarios"
                         "footer footer footer";
}
/*---------------------------------------------------------------------*/
.contenedor .header{
    grid-area: header;
    text-align: center;
    padding: 60px;
    background-image: url(imagenes/camioneta2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header .logo{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 50px;
    color: white;
    font-size: 20px;
}
.logo img{
    height: 100px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.logo h1{
    margin-bottom: 15px;
}
.logo button{
    background: rgba(0, 0, 0, 0);
    padding: 10px;
    color: #FF993A;
    cursor: pointer;
    border: 1px solid #FF993A;
}
.logo button:hover{
    background: #FF993A;
    color: white;
}
/*---------------------------------------------------------------------*/
.contenedor .nav{
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 8vh;
    background-color: rgb(24, 52, 56);
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
}
.nav a:hover{
    background-color:rgba(0, 0, 0, 0.7);
}
/*---------------------------------------------------------------------*/
.contenedor .contenido{
    grid-area: contenido;
}
/*---------------------------------------------------------------------*/

.contenedor .section{
    grid-area: section;
}
/*---------------------------------------------------------------------*/
.contenedor .article{
    grid-area: article;
}
/*---------------------------------------------------------------------*/
.contenedor .comentarios{
    grid-area: comentarios;
}
/*---------------------------------------------------------------------*/
.contenedor .footer{
    grid-area: footer;
}
/*---------------------------------------------------------------------*/


@media screen and (min-width: 600px) {
    .contenedor{
        grid-template-areas:
        "header header header" 
        "nav nav nav"
        "contenido contenido contenido"
        "contenido contenido contenido"
        "contenido contenido contenido"
        "section section section"
        "comentarios article article"
        "comentarios article article"
        "comentarios article article"
        "footer footer footer" ;
    } 
}
@media screen and (max-width: 600px) {
    .contenedor .nav{
        flex-direction: column;
        height: auto;
        max-height: 30vh;
    } 
}